body {background-color: rgb(248, 218, 239);
    background-attachment: fixed;
    text-align: center;}
h1 {color:#F00793;font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}
h2 {color: #F00793;text-decoration-line: underline;}
body {font-size: larger;}
.si {text-decoration-line: underline; text-align: justify;}
img {width: 25vw; }
.video {width: 26vw; height: 30vh;}
.mapa {width: 25vw; height: 20vh;}
.no {text-align: justify;}
.pa {text-align: justify;}

section {border-radius: 20px;}
.flotar {position: fixed; bottom: 20px; right: 20px;}
.flotar img {width: 60px; height: 60px;}
.youtube img {width: 5vw;}
.insta img {width: 5vw;}
.tiktok img {width: 5vw;}

.logo {display: flex; width: 6vw;}
header { width: 70%; margin: auto; gap: 20px; padding: 10px; display: flex; justify-content: center; align-items: center; justify-content: space-between; background-color:rgb(248, 218, 239) ; flex-wrap: wrap;}
.rd { height: 30%; display: flex;}
.redes { width: 5vw;}


footer { width: 80%; margin: auto; gap: 20px; padding: 10px; display: flex; justify-content: center; align-items: center; justify-content: space-between; background-color:rgb(248, 218, 239) ; flex-wrap: wrap;}

.carrusel { display: flex; width: 80%; justify-content: center;

}
