body {background-color: rgb(248, 218, 239);
    background-image: url(../imagenes/fondos3.jpg);
    background-attachment: fixed;
    text-align: center;}
h1 {color:#F00793; text-decoration-line: underline;}
h2 {color: #F00793;text-decoration-line: underline;}
body {font-size: larger;}
.si {text-decoration-line: underline; text-align: justify;}
img {width: 500px; height: auto;}
.no {text-align: justify;}
.pa {text-align: justify;}
.uno {background-color: rgb(248, 218, 239);margin: 200px; margin-top: 20px;margin-bottom: 20px;}
.dos {background-color: rgb(248, 218, 239);margin: 200px; margin-top: 20px;margin-bottom: 20px;}
.tres {background-color: rgb(248, 218, 239);margin: 200px; margin-top: 20px;margin-bottom: 20px;}
.cero {background-color: rgb(248, 218, 239);margin: 200px; margin-top: 20px;margin-bottom: 20px;
border-radius: 20px;}
section {border-radius: 20px;}
.flotar {position: fixed; bottom: 20px; right: 20px;}